<div class='container_reporting'>
  <div><h1><center>Reportes</center></h1></div>
  
  <div id='modalDetGestion' class='modalDetGestion modal' class='modal hide' data-backdrop='static' data-keyboard='false'>
    <div class='modal-content'>
      <h4></h4>
      <p></p>
    </div>
    <div class='modal-footer'>
      <button href='#' class='btn modal-close' id='closeChat1'>Cerrar</button>
    </div>
  </div>






<div  id='main2'>
    <div class='row'>
      <h4>Chats en espera...</h4>
      <div class='col s12'>
        <div class='responsive-table'>
          <table class='tablitaReport2' class='table invoice-data-table white border-radius-4 centered pt-1 highlight'>
            <thead style='background: linear-gradient(45deg, #e65428, #fc6d0e) !important; color: #FFF'>
              <tr>

                <th>Cliente</th>
                <th>Fecha de registro inicial</th>
                <th>Estado</th>
                
              </tr>
            </thead>
            <tbody class='table2' id='table2'>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>





      <div class='canvaDonut'><canvas id='mychar' class='canvaDonut'></canvas></div>
      


  
</div>

<script src='/js/reportes.js'></script>
<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>