<div clas="row">
  
 <h1><center>Reportes en archivo excel</center></h1>
 <h5><center>Por favor seleccione una fecha de reporte</center></h5>

</div>

<div class="row center">

 
  <input placeholder="ingrese fecha inicial" type="text" style="width: 24%; display: block; margin:auto;" id="timeInit" class="datepicker">
  <input placeholder="ingrese fecha final"type="text" style="width: 24%; display: block; margin:auto;" id="timeFin" class="datepicker">
  <button id="generateReport" style="margin-top:1%"class="waves-effect waves-light btn">Generar reporte</button>
  <a href='/doc/Excel/ExcelInforme.xlsx'   style="margin-top:1%" id="buttonDown" class="waves-effect waves-light btn">Descargar excel<a/>

</div>

<script src='/js/reportExport.js'></script>