<div class='cont_backoffice' style="padding: 1rem 2rem">
  <h1 class='center'>QR</h1>
  <h2 class='center hidden' id="sincronizadoMSG" style="color: #27ae60">Sincronizado</h2>
  <div style="display: flex; justify-content: center;">
    <img src="" id="imgQR" style="width: 500px; box-shadow: 0 0 55px 5px #80808080; padding: 20px;" alt="QR">
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
  <script src="/js/viewQR.js"></script>
</div>